{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>OptiTasker</h1>
        </header>
        
        <main>
            {% block content %}{% endblock %}
        </main>
        
        <footer>
            <p class="footer-text">
                <span style="color: #FF69B4;">&#x2665;</span> 
                Powered by Janusha Nampally Nithesha Bujuti 
                <span style="color: #FF69B4;">&#x2665;</span>
              </p>
              
              

        </footer>
    </div>
</body>
</html>
